@model com.project.parcel.Domain.BusinessEntities.AddParcelViewModel;
@using (Html.BeginForm("AddParcel", "Parcel", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Date, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.Date, String.Empty, new { @class = "text-danger" })
    
    @Html.TextBoxFor(model => model.WayBillNumber, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.WayBillNumber, String.Empty, new { @class = "text-danger" })
    <h2>Sender Information</h2>
    <br/>
    @Html.TextBoxFor(model => model.ShippingStatus, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.ShippingStatus, String.Empty, new { @class = "text-danger" })
   
    @Html.TextBoxFor(model => model.SenderInformation.Name, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.SenderInformation.Name, String.Empty, new { @class = "text-danger" })
   
    @Html.TextBoxFor(model => model.SenderInformation.PhoneNumber, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.SenderInformation.PhoneNumber, String.Empty, new { @class = "text-danger" })
    
    <h2>Receiver Information</h2>
    <br/>
    @Html.TextBoxFor(model => model.ReceiverInformation.Name, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.ReceiverInformation.Name, String.Empty, new { @class = "text-danger" })
  
    @Html.TextBoxFor(model => model.ReceiverInformation.Address, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.ReceiverInformation.Address, String.Empty, new { @class = "text-danger" })
    
    @Html.TextBoxFor(model => model.ReceiverInformation.PhoneNumber, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.ReceiverInformation.PhoneNumber, String.Empty, new { @class = "text-danger" })
    <h2>Package Details</h2>
    <br/>
    @Html.TextBoxFor(model => model.NoOfParcels, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.NoOfParcels, String.Empty, new { @class = "text-danger" })
    
    @Html.TextBoxFor(model => model.LarryNo, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.LarryNo, String.Empty, new { @class = "text-danger" })
   
    @Html.TextBoxFor(model => model.Description, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.Description, String.Empty, new { @class = "text-danger" })
  
    @Html.TextBoxFor(model => model.Weight, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.Weight, String.Empty, new { @class = "text-danger" })
    
    @Html.TextBoxFor(model => model.ValueOfGoods, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.ValueOfGoods, String.Empty, new { @class = "text-danger" })
  
    <h2>Charges</h2>
    <br/>
    @Html.TextBoxFor(model => model.RatePerKg, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.RatePerKg, String.Empty, new { @class = "text-danger" })
   
    @Html.TextBoxFor(model => model.ToPay, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.ToPay, String.Empty, new { @class = "text-danger" })
   
    @Html.TextBoxFor(model => model.DuePaid, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.DuePaid, String.Empty, new { @class = "text-danger" })
   
    @Html.TextBoxFor(model => model.Vat, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.Vat, String.Empty, new { @class = "text-danger" })
   
    @Html.TextBoxFor(model => model.GrandTotal, new { @class = "input-lg form-control rounded-0", @Required = "Required"})
    @Html.ValidationMessageFor(model => model.GrandTotal, String.Empty, new { @class = "text-danger" })
    <button class="btn btn-primary btn-lg rounded-0 d-flex align-items-center pe-2 ps-2">Save</button>

}